* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #E0F7FA;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: url(background1.avif);
    color: #FFFFFF;
    padding: 30px 0;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 4em;
    font-weight: bolder;
    color: #FFFFFF;
}

header p {
    font-size: 2em;
}

header .btn {
    display: inline-block;
    color: #fff;
    background: #e8491d;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 5px;
}

header .btn:hover {
    background: #d7321b;
}

.header-buttons {
    margin-bottom: 20px;
}

.about h2, .features h2, .contact h2, .feature h3 {
      color: #004080;
}

.about, .features, .contact {
    padding: 20px 0;
    text-align: center;
}

.about img, .features img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
}

.features .feature {
    margin: 20px 0;
}

.features .feature img {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    border-radius: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.contact form label {
    margin: 10px 0 5px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    padding: 10px;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background: #3a8573;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    .container {
        width: 90%;
    }

    .features .feature img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 0.9em;
    }

    header .btn {
        padding: 8px 15px;
    }

    .features .feature img {
        max-width: 100%;
    }
}